{% extends "template.html" %}
{% block content %}
{{competition.show_name}}
{% if current_user.is_authenticated %}
<form method="get" action="{{url_for('competition_edit')}}">
    <input type="hidden" name="method" value="PUT">
    <input type="hidden" name="id" value="{{competition.id}}">
    <input type="submit" value="編集">
</form>
<form method="post" action="{{url_for('competition_confirm')}}">
    <input type="hidden" name="method" value="DELETE">
    <input type="hidden" name="id" value="{{competition.id}}">
    <input type="submit" value="削除">
</form>
<form method="get" action="{{url_for('race_edit')}}">
    <input type="hidden" name="method" value="POST">
    <input type="hidden" name="competition_id" value="{{competition.id}}">
    <input type="submit" value="レース追加">
</form>
{% endif %}
{% for race in competition.races %}
{{race.show_name}}
{% if current_user.is_authenticated %}
<form method="get" action="{{url_for('race_edit')}}">
    <input type="hidden" name="method" value="PUT">
    <input type="hidden" name="id" value="{{race.id}}">
    <input type="submit" value="編集">
</form>
<form method="post" action="{{url_for('race_confirm')}}">
    <input type="hidden" name="method" value="DELETE">
    <input type="hidden" name="id" value="{{race.id}}">
    <input type="submit" value="削除">
</form>
<br>
{% endif %}
<br>
{% endfor %}
{% endblock %}