{% extends "template.html" %}
{% block content %}
{{competition.show_name}}
{% if current_user.is_authenticated %}
<form method="get" action="{{url_for('competition_edit')}}">
    <input type="hidden" name="method" value="PUT">
    <input type="hidden" name="id" value="{{competition.id}}">
    <input type="submit" value="編集">
</form>
<form method="post" action="{{url_for('competition_confirm')}}">
    <input type="hidden" name="method" value="DELETE">
    <input type="hidden" name="id" value="{{competition.id}}">
    <input type="submit" value="削除">
</form>
{% endif %}
{% for race_type in competition.race_types %}
{{race_type.show_name}} <br>
{% endfor %}
{% endblock %}