{% extends "edit_template.html" %}
{% block content %}
<div class="container">
        大会情報登録ページ
        {% if form.method.data == "POST" %}
        <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-sm-12">
                        <form action="{{url_for('race_base_edit')}}" class="form" method="post" role="form">
                                {{ form.hidden_tag() }}
                                <div class="form-group  required">{{ form.race_name.label(class="control-label") }}
                                        {{form.race_name(class="form-control")}}</div>
                                <div class="form-group  required">{{ form.prefecture.label(class="control-label") }}
                                        {{form.prefecture(class="form-control")}}</div>
                                <div class="form-group  required">{{ form.comment.label(class="control-label") }}
                                        {{form.comment(class="form-control")}}</div>
                                <input class="btn btn-default" id="submit" name="submit" type="submit" value="確定">
                        </form>

                </div>
        </div>
        {% else %}
        <h2>{{form.race_name.data}}</h2>
        <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-sm-12">
                        <form action="{{url_for('race_base_edit')}}" class="form" method="post" role="form">
                                {{ form.hidden_tag() }}
                                <input type="hidden" name="race_name" value="{{form.race_name.data}}">
                                <div class="form-group  required">{{ form.prefecture.label(class="control-label") }}
                                        {{form.prefecture(class="form-control")}}</div>
                                <div class="form-group  required">{{ form.comment.label(class="control-label") }}
                                        {{form.comment(class="form-control")}}</div>
                                <input class="btn btn-default" id="submit" name="submit" type="submit" value="確定">
                        </form>

                </div>
        </div>
        {% endif %}
</div>
{% endblock %}